---
layout: default
---

<!-- about.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {{ site.first_name }} {{ site.middle_name }}
      <span class="font-weight-bold">{{ site.last_name }}</span>
    </h1>
    <p class="desc"><b>{{ page.subtitle }}</b></p>
  </header>

  <article>
    <div class="speakers">
      <h2>Organizers</h2>

      <div class="container">
        <div class="row row-cols-2">

          <!-- Juan Elenter -->
          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-5">
                  <img src="/assets/img/juane.png" style="width: 150px; height: 150px; object-fit: cover; object-position: center top;">

                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h4 class="card-title">Juan Elenter
                    </h4>

                    <h6 class="card-text">Spotify
                    </h6>

                    <div class="row ml-2 mr-2 p-0" style="gap: 10px;">

                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://juanelenter.github.io" title="Website" target="_blank"
                          rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=AJHh6B8AAAAJ&hl=en" title="GooleScholar"
                          target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>

                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://x.com/juaaan_e" title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Meraj Hashemizadeh -->
          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-5">
                  <img src="/assets/img/meraj.jpg" style="width: 150px; height: 150px; object-fit: cover; object-position: center top;">

                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h4 class="card-title">Meraj Hashemizadeh
                    </h4>

                    <h6 class="card-text">Mila
                    </h6>

                    <div class="row ml-2 mr-2 p-0" style="gap: 10px;">


                      <!-- <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://merajhashemi.github.io/" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div> -->

                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=lxlP4BMAAAAJ&hl=en" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>

                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://x.com/meraj_hashemi_" title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>




                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Ignacio Hounie -->
          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-5">
                  <img src="/assets/img/nacho.jpg" style="width: 150px; height: 150px; object-fit: cover; object-position: center top;">
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h4 class="card-title">Ignacio Hounie
                    </h4>

                    <h6 class="card-text">University of Pennsylvania
                    </h6>

                    <div class="row ml-2 mr-2 p-0" style="gap: 10px;">

                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://www.seas.upenn.edu/~ihounie" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=V0h3OSYAAAAJ&hl=en" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>

                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://x.com/nachohounie" title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Simon Lacoste-Julien -->
          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-5">
                  <img src="/assets/img/simon.jpg" style="width: 150px; height: 150px; object-fit: cover; object-position: center top;">
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h4 class="card-title">Simon Lacoste-Julien
                    </h4>

                    <h6 class="card-text">Mila & Université de Montréal
                    </h6>

                    <div class="row ml-2 mr-2 p-0" style="gap: 10px;">

                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://www.iro.umontreal.ca/~slacoste" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=oejm5IUAAAAJ&hl=en&oi=ao" title="GooleScholar"
                          target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>

                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://x.com/SimonLacosteJ" title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Juan Ramirez -->
          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-5">
                  <img src="/assets/img/juanr.webp" srcset="/assets/img/juanr.webp" style="width: 150px; height: 150px; object-fit: cover; object-position: center top;">
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h4 class="card-title">Juan Ramirez
                    </h4>

                    <h6 class="card-text">Mila & Université de Montréal
                    </h6>
                    <div class="row ml-2 mr-2 p-0" style="gap: 10px;">

                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://juan43ramirez.github.io" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=yop0kRkAAAAJ&hl=en" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>

                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://x.com/juan43ramirez" title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Alejandro Ribeiro -->
          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-5">

                  <img src="/assets/img/alejandro.jpg" style="width: 150px; height: 150px; object-fit: cover;">

                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h4 class="card-title">Alejandro Ribeiro
                    </h4>

                    <h6 class="card-text">University of Pennsylvania
                    </h6>

                    <div class="row ml-2 mr-2 p-0" style="gap: 10px;">

                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://alelab.seas.upenn.edu/alejandro-ribeiro/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=7mrPM4kAAAAJ&hl=en" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>

                      <!-- <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://twitter.com/..." title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div> -->

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Katya Scheinberg -->
          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-5">
                  <img src="/assets/img/katya.png" style="width: 150px; height: 150px; object-fit: cover; object-position: center top;">
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h4 class="card-title">Katya Scheinberg
                    </h4>

                    <h6 class="card-text">Georgia Tech
                    </h6>

                    <div class="row ml-2 mr-2 p-0" style="gap: 10px;">


                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://www.isye.gatech.edu/users/katya-scheinberg" title="Website" target="_blank"
                          rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>


                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.ca/citations?user=zbqRbOkAAAAJ&hl=en" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>

                      <!-- <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://twitter.com/SaxeLab" title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div> -->


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <br>

    <h2>Program Committee</h2>
    <br>
    <div class="card-item col">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-12">
            <div class="card-body">
              <h4 class="card-title">Area Chairs
              </h4>
              <h6 class="card-text">We are grateful to the following Area Chairs:</h6>
              <ul>
                <li><a href="https://scholar.google.com/citations?user=pcwmurcAAAAJ" target="_blank" rel="noopener noreferrer">Miguel Calvo-Fullana</a> (Universitat Pompeu Fabra)</li>
                <li><a href="https://dongshed.github.io" target="_blank" rel="noopener noreferrer">Dongsheng Ding</a> (University of Pennsylvania)</li>
                <li><a href="https://gallego-posada.github.io" target="_blank" rel="noopener noreferrer">Jose Gallego-Posada</a> (Independent Researcher)</li>
                <li><a href="https://jiangxjames.github.io" target="_blank" rel="noopener noreferrer">Xin Jiang</a> (Cornell)</li>
                <li><a href="https://www.dkalogerias.org" target="_blank" rel="noopener noreferrer">Dionisios Kalogerias</a> (Yale)</li>
                <li><a href="https://koppel.netlify.app" target="_blank" rel="noopener noreferrer">Alec Koppel</a> (J.P. Morgan)</li>
                <li><a href="https://sites.duke.edu/navid/" target="_blank" rel="noopener noreferrer">Navid NaderiAlizadeh</a> (Duke)</li>
                <li><a href="https://faculty.rpi.edu/santiago-paternain" target="_blank" rel="noopener noreferrer">Santiago Paternain</a> (Rensselaer Polytechnic Institute)</li>
                <li><a href="https://homes.esat.kuleuven.be/~ppatrino" target="_blank" rel="noopener noreferrer">Panagiotis Patrinos</a> (KU Leuven)</li>
                <li><a href="https://faculty.sist.shanghaitech.edu.cn/faculty/wanghao" target="_blank" rel="noopener noreferrer">Hao Wang</a> (ShanghaiTech)</li>
                <li><a href="https://baoyuzhou18.github.io" target="_blank" rel="noopener noreferrer">Baoyu Zhou</a> (Arizona State University)</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="card-item col">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-12">
            <div class="card-body">
              <h4 class="card-title">Reviewers</h4>
              <h6 class="card-text">We are grateful to the following reviewers:</h6>

              <style>
                .reviewer-list {
                  list-style-type: none;
                  padding: 0;
                  margin: 0;
                  column-count: 3; /* Adjust column count as needed */
                  column-gap: 20px;
                }
              </style>

              <ul class="reviewer-list">
                <li>Abhishek Chakraborty</li>
                <li>Adit Jain</li>
                <li>Aditya Mahajan</li>
                <li>Ahmad Mousavi</li>
                <li>Albert Manuel Orozco Camacho</li>
                <li>Alexander Bodard</li>
                <li>Amrit Singh Bedi</li>
                <li>Anastasios Tsiamis</li>
                <li>Anusha Srikanthan</li>
                <li>Arnob Ghosh</li>
                <li>Brian M. Sadler</li>
                <li>Bum Jun Kim</li>
                <li>César Miguel Valdez Córdova</li>
                <li>Chao Wu</li>
                <li>Chen Feng</li>
                <li>Daniel Otero</li>
                <li>Honghao Wei</li>
                <li>Jan Quan</li>
                <li>Javier Porras-Valenzuela</li>
                <li>Jh Yuan</li>
                <li>Jinxin Wang</li>
                <li>Jiulin Wang</li>
                <li>Konstantinos Oikonomidis</li>
                <li>Li Wang</li>
                <li>Mansi Rankawat</li>
                <li>Martin Takáč</li>
                <li>Maxime Mulamba</li>
                <li>Menglu Wang</li>
                <li>Meraj Hashemizadeh</li>
                <li>Minghao Liu</li>
                <li>Motahareh Sohrabi</li>
                <li>Qi Wang</li>
                <li>Ruikai Yang</li>
                <li>Samar Hadou</li>
                <li>Samir Agarwala</li>
                <li>Sergio Rozada</li>
                <li>Shervin Khalafi</li>
                <li>Steven Jiaxun Tang</li>
                <li>Sujay Bhatt</li>
                <li>Théo Saulus</li>
                <li>Tianjian Huang</li>
                <li>Toshinori Kitamura</li>
                <li>Xiantao Zhang</li>
                <li>Xiao Wang</li>
                <li>Xiaoyi Qu</li>
                <li>Xinhang Yuan</li>
                <li>Xinlin Zhuang</li>
                <li>Xinmeng Huang</li>
                <li>Yan Ru Pei</li>
                <li>Yankun Huang</li>
                <li>Yigit Berkay Uslu</li>
                <li>Yike Zhang</li>
                <li>Yinbin Han</li>
                <li>Yonghao Zhu</li>
                <li>Youbang Sun</li>
                <li>Yubo Wang</li>
                <li>Zebang Shen</li>
                <li>Zhengyu Fang</li>
                <li>Zhenlin Wang</li>
                <li>Zhong Chen</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </article>

</div>
