---
layout: default
---

<!-- about.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {{ site.first_name }} {{ site.middle_name }}
      <span class="font-weight-bold">{{ site.last_name }}</span>
    </h1>
    <p class="desc"><b>{{ page.subtitle }}</b></p>
  </header>

  <article>
    <div class="speakers">
      <h2>Organizers</h2>

      <div class="container">
        <div class="row row-cols-2">

          <!-- Juan Elenter -->
          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-5">
                  <img src="/assets/img/juane.png" style="width: 150px; height: 150px; object-fit: cover; object-position: center top;">

                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h4 class="card-title">Juan Elenter
                    </h4>

                    <h6 class="card-text">Spotify
                    </h6>

                    <div class="row ml-2 mr-2 p-0" style="gap: 10px;">

                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://juanelenter.github.io" title="Website" target="_blank"
                          rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=AJHh6B8AAAAJ&hl=en" title="GooleScholar"
                          target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>

                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://x.com/juaaan_e" title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Meraj Hashemizadeh -->
          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-5">
                  <img src="/assets/img/meraj.jpg" style="width: 150px; height: 150px; object-fit: cover; object-position: center top;">

                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h4 class="card-title">Meraj Hashemizadeh
                    </h4>

                    <h6 class="card-text">Mila
                    </h6>

                    <div class="row ml-2 mr-2 p-0" style="gap: 10px;">


                      <!-- <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://merajhashemi.github.io/" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div> -->

                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=lxlP4BMAAAAJ&hl=en" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>

                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://x.com/meraj_hashemi_" title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>




                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Ignacio Hounie -->
          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-5">
                  <img src="/assets/img/nacho.jpg" style="width: 150px; height: 150px; object-fit: cover; object-position: center top;">
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h4 class="card-title">Ignacio Hounie
                    </h4>

                    <h6 class="card-text">University of Pennsylvania
                    </h6>

                    <div class="row ml-2 mr-2 p-0" style="gap: 10px;">

                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://www.seas.upenn.edu/~ihounie" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=V0h3OSYAAAAJ&hl=en" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>

                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://x.com/nachohounie" title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Simon Lacoste-Julien -->
          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-5">
                  <img src="/assets/img/simon.jpg" style="width: 150px; height: 150px; object-fit: cover; object-position: center top;">
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h4 class="card-title">Simon Lacoste-Julien
                    </h4>

                    <h6 class="card-text">Mila & Université de Montréal
                    </h6>

                    <div class="row ml-2 mr-2 p-0" style="gap: 10px;">

                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://www.iro.umontreal.ca/~slacoste" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=oejm5IUAAAAJ&hl=en&oi=ao" title="GooleScholar"
                          target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>

                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://x.com/SimonLacosteJ" title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Juan Ramirez -->
          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-5">
                  <img src="/assets/img/juanr.webp" srcset="/assets/img/juanr.webp" style="width: 150px; height: 150px; object-fit: cover; object-position: center top;">
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h4 class="card-title">Juan Ramirez
                    </h4>

                    <h6 class="card-text">Mila & Université de Montréal
                    </h6>
                    <div class="row ml-2 mr-2 p-0" style="gap: 10px;">

                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://juan43ramirez.github.io" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=yop0kRkAAAAJ&hl=en" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>

                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://x.com/juan43ramirez" title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Alejandro Ribeiro -->
          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-5">

                  <img src="/assets/img/alejandro.jpg" style="width: 150px; height: 150px; object-fit: cover;">

                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h4 class="card-title">Alejandro Ribeiro
                    </h4>

                    <h6 class="card-text">University of Pennsylvania
                    </h6>

                    <div class="row ml-2 mr-2 p-0" style="gap: 10px;">

                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://alelab.seas.upenn.edu/alejandro-ribeiro/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=7mrPM4kAAAAJ&hl=en" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>

                      <!-- <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://twitter.com/..." title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div> -->

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Katya Scheinberg -->
          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-5">
                  <img src="/assets/img/katya.png" style="width: 150px; height: 150px; object-fit: cover; object-position: center top;">
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h4 class="card-title">Katya Scheinberg
                    </h4>

                    <h6 class="card-text">Georgia Tech
                    </h6>

                    <div class="row ml-2 mr-2 p-0" style="gap: 10px;">


                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://www.isye.gatech.edu/users/katya-scheinberg" title="Website" target="_blank"
                          rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>


                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.ca/citations?user=zbqRbOkAAAAJ&hl=en" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>

                      <!-- <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://twitter.com/SaxeLab" title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div> -->


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <br>

    <h2>Program Committee</h2>
    <br>
    <div class="card-item col">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-12">
            <div class="card-body">
              <h4 class="card-title">Area Chairs
              </h4>
              <h6 class="card-text">We are grateful to the following Area Chairs:</h6>
              <ul>
                <li><a href="https://scholar.google.com/citations?user=pcwmurcAAAAJ" target="_blank" rel="noopener noreferrer">Miguel Calvo-Fullana</a> (Universitat Pompeu Fabra)</li>
                <li><a href="https://dongshed.github.io" target="_blank" rel="noopener noreferrer">Dongsheng Ding</a> (University of Pennsylvania)</li>
                <li><a href="https://gallego-posada.github.io" target="_blank" rel="noopener noreferrer">Jose Gallego-Posada</a> (Independent Researcher)</li>
                <li><a href="https://jiangxjames.github.io" target="_blank" rel="noopener noreferrer">Xin Jiang</a> (Cornell)</li>
                <li><a href="https://www.dkalogerias.org" target="_blank" rel="noopener noreferrer">Dionisios Kalogerias</a> (Yale)</li>
                <li><a href="https://koppel.netlify.app" target="_blank" rel="noopener noreferrer">Alec Koppel</a> (J.P. Morgan)</li>
                <li><a href="https://sites.duke.edu/navid/" target="_blank" rel="noopener noreferrer">Navid NaderiAlizadeh</a> (Duke)</li>
                <li><a href="https://faculty.rpi.edu/santiago-paternain" target="_blank" rel="noopener noreferrer">Santiago Paternain</a> (Rensselaer Polytechnic Institute)</li>
                <li><a href="https://homes.esat.kuleuven.be/~ppatrino" target="_blank" rel="noopener noreferrer">Panagiotis Patrinos</a> (KU Leuven)</li>
                <li><a href="https://baoyuzhou18.github.io" target="_blank" rel="noopener noreferrer">Baoyu Zhou</a> (Arizona State University)</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="card-item col">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-12">
            <div class="card-body">
              <h4 class="card-title">Reviewers</h4>
              <h6 class="card-text">We are grateful to the following reviewers:</h6>

              <style>
                .reviewer-list {
                  list-style-type: none;
                  padding: 0;
                  margin: 0;
                  column-count: 3; /* Adjust column count as needed */
                  column-gap: 20px;
                }
              </style>

              <ul class="reviewer-list">
                <li><a href="https://openreview.net/profile?id=~Abhishek_Chakraborty2">Abhishek Chakraborty</a></li>
                <li><a href="https://openreview.net/profile?id=~Adit_Jain1">Adit Jain</a></li>
                <li><a href="https://openreview.net/profile?id=~Aditya_Mahajan1">Aditya Mahajan</a></li>
                <li><a href="https://openreview.net/profile?id=~Ahmad_Mousavi1">Ahmad Mousavi</a></li>
                <li><a href="https://openreview.net/profile?id=~Albert_Manuel_Orozco_Camacho1">Albert Manuel Orozco Camacho</a></li>
                <li><a href="https://openreview.net/profile?id=~Alexander_Bodard1">Alexander Bodard</a></li>
                <li><a href="https://openreview.net/profile?id=~Amrit_Bedi1">Amrit Singh Bedi</a></li>
                <li><a href="https://openreview.net/profile?id=~Anastasios_Tsiamis1">Anastasios Tsiamis</a></li>
                <li><a href="https://openreview.net/profile?id=~Anusha_Srikanthan1">Anusha Srikanthan</a></li>
                <li><a href="https://openreview.net/profile?id=~Arnob_Ghosh3">Arnob Ghosh</a></li>
                <li><a href="https://openreview.net/profile?id=~Brian_M._Sadler1">Brian M. Sadler</a></li>
                <li><a href="https://openreview.net/profile?id=~Bum_Jun_Kim1">Bum Jun Kim</a></li>
                <li><a href="https://openreview.net/profile?id=~César_Miguel_Valdez_Córdova1">César Miguel Valdez Córdova</a></li>
                <li><a href="https://openreview.net/profile?id=~Chao_Wu7">Chao Wu</a></li>
                <li><a href="https://openreview.net/profile?id=~CHEN_FENG6">Chen Feng</a></li>
                <li><a href="https://openreview.net/profile?id=~Daniel_Otero_Gomez1">Daniel Otero</a></li>
                <li><a href="https://openreview.net/profile?id=~Honghao_Wei2">Honghao Wei</a></li>
                <li><a href="https://openreview.net/profile?id=~Jan_Quan1">Jan Quan</a></li>
                <li><a href="https://openreview.net/profile?id=~Javier_Porras-Valenzuela1">Javier Porras-Valenzuela</a></li>
                <li><a href="https://openreview.net/profile?id=~Jinghui_Yuan1">Jh Yuan</a></li>
                <li><a href="https://openreview.net/profile?id=~Jinxin_Wang3">Jinxin Wang</a></li>
                <li><a href="https://openreview.net/profile?id=~Jiulin_Wang1">Jiulin Wang</a></li>
                <li><a href="https://openreview.net/profile?id=~Konstantinos_Oikonomidis1">Konstantinos Oikonomidis</a></li>
                <li><a href="https://openreview.net/profile?id=~Li_Wang1">Li Wang</a></li>
                <li><a href="https://openreview.net/profile?id=~Mansi_Rankawat1">Mansi Rankawat</a></li>
                <li><a href="https://openreview.net/profile?id=~Martin_Takac3">Martin Takáč</a></li>
                <li><a href="https://openreview.net/profile?id=~Maxime_Mulamba1">Maxime Mulamba</a></li>
                <li><a href="https://openreview.net/profile?id=~Menglu_Wang2">Menglu Wang</a></li>
                <li><a href="https://openreview.net/profile?id=~Meraj_Hashemizadeh1">Meraj Hashemizadeh</a></li>
                <li><a href="https://openreview.net/profile?id=~Minghao_Liu1">Minghao Liu</a></li>
                <li><a href="https://openreview.net/profile?id=~Motahareh_Sohrabi1">Motahareh Sohrabi</a></li>
                <li><a href="https://openreview.net/profile?id=~Qi_Wang13">Qi Wang</a></li>
                <li><a href="https://openreview.net/profile?id=~Ruikai_Yang1">Ruikai Yang</a></li>
                <li><a href="https://openreview.net/profile?id=~Samar_Hadou1">Samar Hadou</a></li>
                <li><a href="https://openreview.net/profile?id=~Samir_Agarwala1">Samir Agarwala</a></li>
                <li><a href="https://openreview.net/profile?id=~Sergio_Rozada1">Sergio Rozada</a></li>
                <li><a href="https://openreview.net/profile?id=~Shervin_Khalafi1">Shervin Khalafi</a></li>
                <li><a href="https://openreview.net/profile?id=~Steven_Jiaxun_Tang1">Steven Jiaxun Tang</a></li>
                <li><a href="https://openreview.net/profile?id=~Sujay_Bhatt1">Sujay Bhatt</a></li>
                <li><a href="https://openreview.net/profile?id=~Théo_Saulus1">Théo Saulus</a></li>
                <li><a href="https://openreview.net/profile?id=~Tianjian_Huang2">Tianjian Huang</a></li>
                <li><a href="https://openreview.net/profile?id=~Toshinori_Kitamura1">Toshinori Kitamura</a></li>
                <li><a href="https://openreview.net/profile?id=~Xiantao_Zhang3">Xiantao Zhang</a></li>
                <li><a href="https://openreview.net/profile?id=~Xiao_Wang25">Xiao Wang</a></li>
                <li><a href="https://openreview.net/profile?id=~Xiaoyi_Qu1">Xiaoyi Qu</a></li>
                <li><a href="https://openreview.net/profile?id=~Xinhang_Yuan1">Xinhang Yuan</a></li>
                <li><a href="https://openreview.net/profile?id=~Xinlin_Zhuang2">Xinlin Zhuang</a></li>
                <li><a href="https://openreview.net/profile?id=~Xinmeng_Huang1">Xinmeng Huang</a></li>
                <li><a href="https://openreview.net/profile?id=~Yan_Ru_Pei1">Yan Ru Pei</a></li>
                <li><a href="https://openreview.net/profile?id=~Yankun_Huang1">Yankun Huang</a></li>
                <li><a href="https://openreview.net/profile?id=~Yigit_Berkay_Uslu1">Yigit Berkay Uslu</a></li>
                <li><a href="https://openreview.net/profile?id=~Yike_Zhang3">Yike Zhang</a></li>
                <li><a href="https://openreview.net/profile?id=~Yinbin_Han1">Yinbin Han</a></li>
                <li><a href="https://openreview.net/profile?id=~Yonghao_Zhu1">Yonghao Zhu</a></li>
                <li><a href="https://openreview.net/profile?id=~Youbang_Sun1">Youbang Sun</a></li>
                <li><a href="https://openreview.net/profile?id=~Yubo_Wang17">Yubo Wang</a></li>
                <li><a href="https://openreview.net/profile?id=~Zebang_Shen1">Zebang Shen</a></li>
                <li><a href="https://openreview.net/profile?id=~Zhengyu_Fang1">Zhengyu Fang</a></li>
                <li><a href="https://openreview.net/profile?id=~Zhenlin_Wang3">Zhenlin Wang</a></li>
                <li><a href="https://openreview.net/profile?id=~Zhong_Chen3">Zhong Chen</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </article>

</div>
