---
layout: default
---

<!-- about.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {{ site.first_name }} {{ site.middle_name }}
      <span class="font-weight-bold">{{ site.last_name }}</span>
    </h1>
    <p class="desc"><b>{{ page.subtitle }}</b></p>
  </header>

  <article>

    <h2>About the Workshop</h2>
    <p>
    As AI systems are increasingly deployed in <strong>safety-critical domains</strong>—including credit scoring, medical diagnosis, and autonomous systems—there is a growing demand to ensure their <strong>fairness</strong>, <strong>safety</strong>, <strong>robustness</strong>, and <strong>interpretability</strong>, alongside stronger calls for regulation.
    <strong>Constrained optimization</strong> <a href="https://umontreal.scholaris.ca/items/6bbfce14-9225-4e23-a94e-504bcfb1298f">offers an accountable framework</a> for enforcing these requirements by embedding them directly into the training process, steering models to satisfy explicit constraints. This framework facilitates compliance with regulatory, industry, or ethical standards, which can be easily verified by checking constraint satisfaction.
    </p>

    <p>
    This workshop explores constrained optimization as a <a href="https://arxiv.org/abs/2505.20628">principled</a> method for enforcing desirable properties in machine learning models. It brings together experts in <strong>optimization</strong>, <strong>machine learning</strong>, and <strong>trustworthy AI</strong> to address the algorithmic and practical challenges of scaling constrained methods to modern deep learning settings, which are often large-scale, non-convex, and stochastic.
    </p>

    <p>
    We invite contributions that advance the state of the art in <strong>Constrained Learning</strong>. For details, see the <a href="/submissions/">Call for Contributions</a>.
    </p>

    Follow us on <a href="https://twitter.com/constrained_ml"><i class="fa-brands fa-x-twitter"></i></a>.

    <br>
    <br>

    <h2>News</h2>
    <ul>
      <li>The list of accepted contributions is now available on the <a href="/papers/">Papers</a> page.</li>
      <li>We are accepting extended abstracts for oral and poster presentations. See the <a href="/submissions/">Call for Contributions</a> for more details.</li>
      <li>If you are interested in reviewing for the workshop, please fill out the <a href="https://forms.gle/jMCYyGoeV3dpy9YB6" target="_blank" rel="noopener noreferrer">reviewer nomination form</a> by <b>August 21st</b>.</li>
    </ul>

    <h2>Dates & Deadlines</h2>
    The workshop will be held on <b>December 7th, 2025</b> in <b>San Diego, California</b> as part of <a href="https://neurips.cc/Conferences/2025">NeurIPS 2025</a>.

    <br>
    <br>

    <ul>
      <li><b>Extended abstract submission deadline:</b> <s>Aug 21, 2025</s> Aug 28, 2025 (AOE)</li>
      <li><b>Author notification:</b> Sep 22, 2025</li>
      <li><b>Notification to oral presenters:</b> Sep 29, 2025</li>
      <li><b>NeurIPS <a href="https://neurips.cc/Conferences/2025/FinancialAssistance">financial assistance</a> application deadline:</b> Oct 1, 2025</li>
      <li><b>NeurIPS early registration deadline:</b> Oct 11, 2025 (AOE)</li>
      <li><b>Camera-ready version:</b> Oct 31, 2025 (AOE)</li>
    </ul>

    <div class="speakers">
        <h2>Speakers</h2>
        <div class="container">
            <div class="row row-cols-2">

                <!-- Luiz Chamon -->
                <div class="card-item col">
                    <div class="card">
                        <div class="row g-0">
                            <div class="card-img col-md-5">
                                <img src="/assets/img/luiz.jpg" style="width: 150px; height: 150px; object-fit: cover; object-position: center top;">
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h4 class="card-title">Luiz Chamon
                                    </h4>

                                    <h6 class="card-text">Hi! Paris & École Polytechnique
                                    </h6>

                                      <div class="row ml-2 mr-2 p-0" style="gap: 10px;">
                                        <div class="website-icon">
                                            <div class="icon" data-toggle="tooltip" title="Website">
                                                <a href="https://luizchamon.com" title="Website" target="_blank"
                                                    rel="noopener noreferrer"><i
                                                        class="fas fa-address-card"></i></a>
                                            </div>
                                        </div>

                                        <div class="google-scholar-icon">
                                          <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                            <a href="https://scholar.google.ca/citations?user=FIm-l-sAAAAJ&hl=en" title="GooleScholar"
                                              target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                          </div>
                                        </div>

                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Frank E Curtis -->
                <div class="card-item col">
                    <div class="card">
                        <div class="row g-0">
                            <div class="card-img col-md-5">

                                <img src="/assets/img/frank.jpg" style="width: 150px; height: 150px; object-fit: cover; object-position: center top;">

                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h4 class="card-title">Frank E. Curtis
                                    </h4>

                                    <h6 class="card-text">Lehigh University
                                    </h6>

                                    <div class="row ml-2 mr-2 p-0" style="gap: 10px;">

                                        <div class="website-icon">
                                            <div class="icon" data-toggle="tooltip" title="Website">
                                                <a href="https://coral.ise.lehigh.edu/frankecurtis" title="Website" target="_blank"
                                                rel="noopener noreferrer"><i
                                                class="fas fa-address-card"></i></a>
                                            </div>
                                        </div>

                                        <div class="google-scholar-icon">
                                          <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                            <a href="https://scholar.google.com/citations?user=Zfd6irsAAAAJ&hl=en" title="GooleScholar"
                                              target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                          </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Emily Ruth Diana -->
                <div class="card-item col">
                    <div class="card">
                        <div class="row g-0">
                            <div class="card-img col-md-5">

                                <img src="/assets/img/emily.webp" style="width: 150px; height: 150px; object-fit: cover; object-position: center top;">

                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h4 class="card-title">Emily Ruth Diana
                                    </h4>

                                    <h6 class="card-text">Carnegie Mellon University
                                    </h6>

                                    <div class="row ml-2 mr-2 p-0" style="gap: 10px;">

                                        <div class="website-icon">
                                            <div class="icon" data-toggle="tooltip" title="Website">
                                                <a href="https://www.emilyruthdiana.com" title="Website" target="_blank"
                                                    rel="noopener noreferrer"><i
                                                        class="fas fa-address-card"></i></a>
                                            </div>
                                        </div>


                                        <div class="google-scholar-icon">
                                          <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                            <a href="https://scholar.google.ro/citations?user=7FJggasAAAAJ&hl=en&oi=ao" title="GooleScholar"
                                              target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                          </div>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Ferdinando Fioretto -->
                <div class="card-item col">
                    <div class="card">
                        <div class="row g-0">
                            <div class="card-img col-md-5">

                                <img src="/assets/img/nando.png" style="width: 150px; height: 150px; object-fit: cover; object-position: center top;">

                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h4 class="card-title">Ferdinando Fioretto
                                    </h4>

                                    <h6 class="card-text">University of Virginia
                                    </h6>

                                    <div class="row ml-2 mr-2 p-0" style="gap: 10px;">

                                        <div class="website-icon">
                                            <div class="icon" data-toggle="tooltip" title="Website">
                                                <a href="https://nandofioretto.github.io" title="Website" target="_blank"
                                                    rel="noopener noreferrer"><i
                                                        class="fas fa-address-card"></i></a>
                                            </div>
                                        </div>


                                        <div class="google-scholar-icon">
                                          <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                            <a href="https://scholar.google.com/citations?user=ASf9Q04AAAAJ" title="GooleScholar"
                                              target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                          </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <br>
    <br>

    <h2>FAQ</h2>
    <ul class="faq-list">
      <li data-aos="fade-up" data-aos-delay="100" class="aos-init aos-animate">
        <a data-toggle="collapse" class="collapsed" href="#faq1" aria-expanded="false">Can I attend virtually? <i
            class="fa-solid fa-chevron-up"></i></a>
        <div id="faq1" class="collapse" data-parent=".faq-list" style="">
          <p>
            All talks will be live-streamed, so you can follow them online. However, the poster session is in-person
            only, and we strongly encourage everyone to attend in person if possible to get the most out of the
            experience
          </p>
        </div>
      </li>

      <li data-aos="fade-up" data-aos-delay="200" class="aos-init aos-animate">
        <a data-toggle="collapse" href="#faq2" class="collapsed">What does non-archival mean? <i
            class="fa-solid fa-chevron-up"></i></a>
        <div id="faq2" class="collapse" data-parent=".faq-list">
          <p>
            Non-archival means that your submission will not be published in formal proceedings or indexed in
            academic databases. You still retain the right to publish the same work elsewhere.
          </p>
        </div>
      </li>

      <li data-aos="fade-up" data-aos-delay="300" class="aos-init aos-animate">
        <a data-toggle="collapse" href="#faq3" class="collapsed">Can I submit work that was already accepted at
          another conference? <i class="fa-solid fa-chevron-up"></i></a>
        <div id="faq3" class="collapse" data-parent=".faq-list">
          <p>
            No. Following NeurIPS 2025 workshop guidelines, we only accept work that has not been previously published (see the <a href="https://constrainedml.github.io/submissions/">Call for Contributions</a> for details).

            We encourage submissions of work in progress, early-stage ideas, or
            research not yet published elsewhere. The goal is to foster discussion and feedback on developing work.
          </p>
        </div>
      </li>

      <li data-aos="fade-up" data-aos-delay="400" class="aos-init aos-animate">
        <a data-toggle="collapse" href="#faq4" class="collapsed">Does the workshop provide financial aid? <i
            class="fa-solid fa-chevron-up"></i></a>
        <div id="faq4" class="collapse" data-parent=".faq-list">
          <p>
            Please note that we are unable to provide financial support for travel or accommodation. If you require
            assistance to attend the workshop, we encourage you to check the
            <a href="https://neurips.cc/Conferences/2025/FinancialAssistance" target="_blank">
              NeurIPS financial assistance
            </a>
            page.
          </p>
        </div>
      </li>
    </ul>

    <h2 class="post-title">Questions?</h2>
    Contact us at
    <a href="mailto:constrainedml@gmail.com" target="_blank">constrainedml@gmail.com</a> or <a href="https://twitter.com/constrained_ml">@constrained_ml</a>.

  </article>

</div>
