---
layout: default
---

<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {{ site.first_name }} {{ site.middle_name }}
      <span class="font-weight-bold">{{ site.last_name }}</span>
    </h1>
    <p class="desc"><b>{{ page.subtitle }}</b></p>
  </header>

  <article>

    <h2>About the Workshop</h2>
    <p>
    As AI systems are increasingly deployed in <strong>safety-critical domains</strong>—including credit scoring, medical diagnosis, and autonomous systems—there is a growing demand to ensure their <strong>fairness</strong>, <strong>safety</strong>, <strong>robustness</strong>, and <strong>interpretability</strong>, alongside stronger calls for regulation.
    <strong>Constrained optimization</strong> <a href="https://umontreal.scholaris.ca/items/6bbfce14-9225-4e23-a94e-504bcfb1298f">offers an accountable framework</a> for enforcing these requirements by embedding them directly into the training process, steering models to satisfy explicit constraints. This framework facilitates compliance with regulatory, industry, or ethical standards, which can be easily verified by checking constraint satisfaction.
    </p>

    <p>
    This workshop explores constrained optimization as a <a href="https://arxiv.org/abs/2505.20628">principled</a> method for enforcing desirable properties in machine learning models. It brings together experts in <strong>optimization</strong>, <strong>machine learning</strong>, and <strong>trustworthy AI</strong> to address the algorithmic and practical challenges of scaling constrained methods to modern deep learning settings, which are often large-scale, non-convex, and stochastic.
    </p>

    <p>
    We invite contributions that advance the state of the art in <strong>Constrained Learning</strong>. For details, see the <a href="/submissions/">Call for Contributions</a>.
    </p>

    Follow us on
    <a href="https://twitter.com/constrained_ml" target="_blank" rel="noopener noreferrer" aria-label="X / Twitter">
    <i class="fa-brands fa-x-twitter"></i>
    </a>.

    <br>
    <br>

    <h2>News</h2>
    <ul>
      <li>The list of accepted contributions is now available on the <a href="/papers/">Papers</a> page.</li>
      <li>We are accepting extended abstracts for oral and poster presentations. See the <a href="/submissions/">Call for Contributions</a> for more details.</li>
      <li>If you are interested in reviewing for the workshop, please fill out the <a href="https://forms.gle/jMCYyGoeV3dpy9YB6" target="_blank" rel="noopener noreferrer">reviewer nomination form</a> by <b>August 21st</b>.</li>
    </ul>

    <h2>Dates & Deadlines</h2>
    The workshop will be held on <b>December 7th, 2025</b> in <b>San Diego, California</b> as part of <a href="https://neurips.cc/Conferences/2025">NeurIPS 2025</a>.

    <br>
    <br>

    <ul>
      <li><b>Extended abstract submission deadline:</b> <s>Aug 21, 2025</s> Aug 28, 2025 (AOE)</li>
      <li><b>Author notification:</b> Sep 22, 2025</li>
      <li><b>Notification to oral presenters:</b> Sep 29, 2025</li>
      <li><b>NeurIPS <a href="https://neurips.cc/Conferences/2025/FinancialAssistance">financial assistance</a> application deadline:</b> Oct 1, 2025</li>
      <li><b>NeurIPS early registration deadline:</b> Oct 11, 2025 (AOE)</li>
      <li><b>Camera-ready version:</b> Oct 31, 2025 (AOE)</li>
    </ul>

    <div class="speakers">
        <h2>Speakers</h2>

        <div class="card-item" style="margin-bottom: 1.5rem;">
            <div class="card">
                <div class="row g-0">
                    <div class="card-img col-md-3" style="display: flex; align-items: center; justify-content: center; padding: 10px;">
                        <img src="/assets/img/frank.jpg" style="width: 150px; height: 150px; object-fit: cover; object-position: center top; border-radius: 5px;">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h4 class="card-title">Frank E. Curtis</h4>
                            <h6 class="card-text">Lehigh University</h6>
                            <div class="row ml-2 mr-2 p-0" style="gap: 10px; margin-bottom: 10px;">
                                <div class="website-icon">
                                    <div class="icon" data-toggle="tooltip" title="Website">
                                        <a href="https://coral.ise.lehigh.edu/frankecurtis" title="Website" target="_blank" rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                                    </div>
                                </div>
                                <div class="google-scholar-icon">
                                    <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                    <a href="https://scholar.google.com/citations?user=Zfd6irsAAAAJ&hl=en" title="GooleScholar" target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <a data-toggle="collapse" class="collapsed" href="#frank-bio">Bio <i class="fa-solid fa-chevron-up"></i></a>
                                <a data-toggle="collapse" class="collapsed" href="#frank-talk" style="margin-left: 20px;">Talk Details <i class="fa-solid fa-chevron-up"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="frank-bio" class="collapse" data-parent=".speakers">
                    <div class="card-body" style="padding-top: 0;">
                        <hr>
                        <h5>Short Bio</h5>
                        <p>
                          Frank E. Curtis is a Professor in the Department of Industrial and Systems Engineering at
                          Lehigh University. His research focuses on the design, analysis, and implementation of
                          numerical methods for solving large-scale nonlinear optimization problems. He received an
                          Early Career Award from the U.S. Department of Energy (DoE), and has received funding from the
                          U.S. National Science Foundation (NSF). He received the 2021 SIAM/MOS Lagrange Prize in
                          Continuous Optimization. He was awarded the 2018 INFORMS Computing Society Prize. He currently
                          serves as Area Editor for Continuous Optimization for Mathematics of Operations Research and
                          serves as an Associate Editor for Mathematical Programming, SIAM Journal on Optimization, and
                          Mathematical Programming Computation.
                        </p>
                    </div>
                </div>
                <div id="frank-talk" class="collapse" data-parent=".speakers">
                    <div class="card-body" style="padding-top: 0;">
                        <hr>
                        <h5>Talk Title</h5>
                        <p><i>Stochastic Algorithms for Nonlinearly Constrained Optimization</i></p>
                        <h5>Abstract</h5>
                        <p>
                          I will present the latest contributions of my research group on the design and analysis of
                          stochastic algorithms for solving nonlinearly constrained optimization problems. The signature
                          feature of our algorithms is that they handle constraints as constraints, rather than through
                          penalty or augmented Lagrangian functions.  I will discuss how we have seen that our
                          algorithms can accelerate the performance of stochastic algorithms for constrained
                          optimization and informed learning, and discuss various extensions that we have explored of
                          our core algorithmic methodology.  I will close with various open questions that remain to be
                          explored.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-item" style="margin-bottom: 1.5rem;">
            <div class="card">
                <div class="row g-0">
                    <div class="card-img col-md-3" style="display: flex; align-items: center; justify-content: center; padding: 10px;">
                        <img src="/assets/img/luiz.jpg" style="width: 150px; height: 150px; object-fit: cover; object-position: center top; border-radius: 5px;">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h4 class="card-title">Luiz Chamon</h4>
                            <h6 class="card-text">Hi! Paris & École Polytechnique</h6>
                            <div class="row ml-2 mr-2 p-0" style="gap: 10px; margin-bottom: 10px;">
                                <div class="website-icon">
                                    <div class="icon" data-toggle="tooltip" title="Website">
                                        <a href="https://luizchamon.com" title="Website" target="_blank" rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                                    </div>
                                </div>
                                <div class="google-scholar-icon">
                                    <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                    <a href="https://scholar.google.ca/citations?user=FIm-l-sAAAAJ&hl=en" title="GooleScholar" target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <a data-toggle="collapse" class="collapsed" href="#luiz-bio">Bio <i class="fa-solid fa-chevron-up"></i></a>
                                <a data-toggle="collapse" class="collapsed" href="#luiz-talk" style="margin-left: 20px;">Talk Details <i class="fa-solid fa-chevron-up"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="luiz-bio" class="collapse" data-parent=".speakers">
                    <div class="card-body" style="padding-top: 0;">
                        <hr>
                        <h5>Short Bio</h5>
                        <p>
                          Luiz F. O. Chamon is an assistant professor (tenure-track) and Hi! PARIS chair holder in the
                          center for applied mathematics (CMAP) of École polytechnique, France. He received the Ph.D.
                          degree in electrical and systems engineering from the University of Pennsylvania (Penn), USA.
                          He received both the best student paper and the best paper awards at IEEE ICASSP 2020. In
                          2022, he received the Young Investigators award from the Division of Engineering and Applied
                          Sciences, Caltech. In 2025, he received the S.S. Chern Young Faculty Award. He is currently
                          an ELLIS Scholar of the European Laboratory for Learning and Intelligent Systems. His research
                          interests include optimization, signal processing, machine learning, statistics, and control.
                        </p>
                    </div>
                </div>
                <div id="luiz-talk" class="collapse" data-parent=".speakers">
                    <div class="card-body" style="padding-top: 0;">
                        <hr>
                        <h5>Talk Title</h5>
                        <p><i>The 5 W's and H of constrained learning</i></p>
                        <h5>Abstract</h5>
                        <p>
                          Machine learning (ML) and artificial intelligence (AI) now automate entire systems rather
                          than individual tasks. As such, ML/AI models are no longer responsible for a single top-line
                          metric (e.g., prediction accuracy), but must face a growing set of potentially conflicting
                          system requirements, such as robustness, fairness, safety, and alignment with prior knowledge.
                          These challenges are exacerbated in uncertain, data-driven settings and further complicated by
                          the scale and heterogeneity of modern ML/AI applications that involve from static,
                          discriminative models (e.g., neural network classifiers) to dynamic, generative models
                          (e.g., Langevin diffusions used for sampling). This keynote defines <b>WHAT</b> constitutes a
                          requirement and explains <b>WHY</b> incorporating them into learning is critical. It then
                          shows <b>HOW</b> to do so using constrained learning and illustrates <b>WHEN</b> and
                          <b>WHERE</b> this approach is effective by presenting use cases in ML for science, safe
                          reinforcement learning, and sampling. Ultimately, this talk aims to convince you (<b>WHO</b>)
                          that constrained learning is a key tool to building trustworthy ML/AI systems, enabling a
                          shift from a paradigm of artificial intelligence that is supposed to implicitly emerge from
                          data to one of engineered intelligence that explicitly does what we want.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-item" style="margin-bottom: 1.5rem;">
            <div class="card">
                <div class="row g-0">
                    <div class="card-img col-md-3" style="display: flex; align-items: center; justify-content: center; padding: 10px;">
                        <img src="/assets/img/nando.png" style="width: 150px; height: 150px; object-fit: cover; object-position: center top; border-radius: 5px;">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h4 class="card-title">Ferdinando Fioretto</h4>
                            <h6 class="card-text">University of Virginia</h6>
                            <div class="row ml-2 mr-2 p-0" style="gap: 10px; margin-bottom: 10px;">
                                <div class="website-icon">
                                    <div class="icon" data-toggle="tooltip" title="Website">
                                        <a href="https://nandofioretto.github.io" title="Website" target="_blank" rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                                    </div>
                                </div>
                                <div class="google-scholar-icon">
                                    <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                    <a href="https://scholar.google.com/citations?user=ASf9Q04AAAAJ" title="GooleScholar" target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <a data-toggle="collapse" class="collapsed" href="#nando-bio">Bio <i class="fa-solid fa-chevron-up"></i></a>
                                <a data-toggle="collapse" class="collapsed" href="#nando-talk" style="margin-left: 20px;">Talk Details <i class="fa-solid fa-chevron-up"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="nando-bio" class="collapse" data-parent=".speakers">
                    <div class="card-body" style="padding-top: 0;">
                        <hr>
                        <h5>Short Bio</h5>
                        <p>
                          Ferdinando (Nando) Fioretto is an assistant professor of Computer Science at the University
                          of Virginia. He leads the Responsible AI for Science and Engineering (RAISE) lab, whose
                          research focuses on addressing foundational challenges to advance artificial intelligence,
                          privacy, safety, and the intersection between machine learning and optimization for scientific
                          applications. His work has been recognized with the 2025 DARPA disruptive ideas award, the
                          2022 Caspar Bowden PET award, the IJCAI-22 Early Career spotlight, and several best paper
                          awards. Nando is also a recipient of the NSF CAREER award, the Google Research Scholar Award,
                          the Amazon Research Award, and the ACP Early Career Researcher Award in Constraint
                          Programming. He is a board member of the Artificial Intelligence Journal (AIJ) and an
                          associate editor of the Journal of Artificial Intelligence Research (JAIR).
                        </p>
                    </div>
                </div>
                <div id="nando-talk" class="collapse" data-parent=".speakers">
                    <div class="card-body" style="padding-top: 0;">
                        <hr>
                        <h5>Talk Title</h5>
                        <p><i>Constraint-Aware Generative Models</i></p>
                        <h5>Abstract</h5>
                        <p>
                          Generative AI has recently attracted significant attention for its potential to accelerate a
                          broad range of scientific and engineering domains. However, while these models produce
                          statistically plausible outputs, they often fail to adhere to physical principles,
                          conservation laws, or safety constraints. Such violations result in suggested designs that may
                          be impractical, unstable, or even hazardous. This talk presents our current efforts to address
                          these challenges by introducing a new class of training-free, constraint-aware diffusion
                          models that integrate differentiable optimization techniques with generative modeling. We will
                          review the mathematical foundations for incorporating both static and dynamic constraints into
                          diffusion models, extend these results for the case of discrete diffusion models, and present
                          case studies of inverse design in microstructural materials, protein-pocket design,
                          multi-robot motion planning, and synthetic chemistry with safe and reliability constraints.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-item" style="margin-bottom: 1.5rem;">
            <div class="card">
                <div class="row g-0">
                    <div class="card-img col-md-3" style="display: flex; align-items: center; justify-content: center; padding: 10px;">
                        <img src="/assets/img/emily.webp" style="width: 150px; height: 150px; object-fit: cover; object-position: center top; border-radius: 5px;">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h4 class="card-title">Emily Ruth Diana</h4>
                            <h6 class="card-text">Carnegie Mellon University</h6>
                            <div class="row ml-2 mr-2 p-0" style="gap: 10px; margin-bottom: 10px;">
                                <div class="website-icon">
                                    <div class="icon" data-toggle="tooltip" title="Website">
                                        <a href="https://www.emilyruthdiana.com" title="Website" target="_blank" rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                                    </div>
                                </div>
                                <div class="google-scholar-icon">
                                    <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                    <a href="https://scholar.google.ro/citations?user=7FJggasAAAAJ&hl=en&oi=ao" title="GooleScholar" target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <a data-toggle="collapse" class="collapsed" href="#emily-bio">Bio <i class="fa-solid fa-chevron-up"></i></a>
                                <a data-toggle="collapse" class="collapsed" href="#emily-talk" style="margin-left: 20px;">Talk Details <i class="fa-solid fa-chevron-up"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="emily-bio" class="collapse" data-parent=".speakers">
                    <div class="card-body" style="padding-top: 0;">
                        <hr>
                        <h5>Short Bio</h5>
                        <p>
                          Emily Ruth Diana is an Assistant Professor in the Operations Research group at CMU's Tepper
                          School of Business and a faculty affiliate of the AI Measurement Science and Engineering
                          (AIMSEC) initiative at CMU. She received her Ph. D. in Statistics and Data Science from the
                          Wharton School of the University of Pennsylvania, where she was advised by Michael Kearns and
                          Aaron Roth. Her research focuses on the intersection of ethical algorithm design and socially
                          responsible machine learning. She is the recipient of the 2022 Wharton School's J. Parker
                          Memorial Bursk Prize for Excellence in Research and the 2024 FORC Best Paper Award, and has
                          been recognized as both a Rising Star in EECS by MIT and a Future Leader in Data Science by
                          the University of Michigan.
                        </p>
                    </div>
                </div>
                <div id="emily-talk" class="collapse" data-parent=".speakers">
                    <div class="card-body" style="padding-top: 0;">
                        <hr>
                        <h5>Talk Title</h5>
                        <p><i>Minimax Fairness in Strategic Classification</i></p>
                        <h5>Abstract</h5>
                        <p>
                            In strategic classification, agents manipulate their features, at a cost, to receive a
                            positive classification outcome from the learner's classifier. The goal of the learner in
                            such settings is to learn a classifier that is robust to strategic manipulations. While the
                            majority of works in this domain consider accuracy as the primary objective of the learner,
                            in this work, we consider learning objectives that have group fairness guarantees in
                            addition to accuracy guarantees. We work with the minimax group fairness notion that asks
                            for minimizing the maximal group error rate across population groups. We formalize a
                            fairness-aware Stackelberg game between a population of agents consisting of several groups,
                            with each group having its own cost function, and a learner in the agnostic PAC setting in
                            which the learner is working with a hypothesis class H. When the cost functions of the
                            agents are separable, we show the existence of an efficient algorithm that finds an
                            approximately optimal deterministic classifier for the learner when the number of groups is
                            small. This algorithm remains efficient, both statistically and computationally, even when H
                            is the set of all classifiers. We then consider cost functions that are not necessarily
                            separable and show the existence of oracle-efficient algorithms that find approximately
                            optimal randomized classifiers for the learner when H has finite strategic VC dimension.
                            These algorithms work under the assumption that the learner is fully transparent: the
                            learner draws a classifier from its distribution (randomized classifier) before the agents
                            respond by manipulating their feature vectors. We highlight the effectiveness of such
                            transparency in developing oracle-efficient algorithms. We conclude with verifying the
                            efficacy of our algorithms on real data by conducting an experimental analysis.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div> <br>
    <br>

<h2>FAQ</h2>
<ul class="faq-list">
  <li data-aos="fade-up" data-aos-delay="100">
    <a data-toggle="collapse" class="collapsed" href="#faq1" aria-expanded="false" aria-controls="faq1">
      Can I attend virtually? <i class="fa-solid fa-chevron-up"></i>
    </a>
    <div id="faq1" class="collapse" data-parent=".faq-list">
      <p>
        All talks will be live-streamed, so you can follow them online. However, the poster session is in-person
        only, and we strongly encourage everyone to attend in person if possible to get the most out of the
        experience.
      </p>
    </div>
    </li>

    <li data-aos="fade-up" data-aos-delay="200">
        <a data-toggle="collapse" class="collapsed" href="#faq2" aria-expanded="false" aria-controls="faq2">
        What does non-archival mean? <i class="fa-solid fa-chevron-up"></i>
        </a>
        <div id="faq2" class="collapse" data-parent=".faq-list">
        <p>
            Non-archival means that your submission will not be published in formal proceedings or indexed in
            academic databases. You still retain the right to publish the same work elsewhere.
        </p>
        </div>
    </li>

    <li data-aos="fade-up" data-aos-delay="300">
        <a data-toggle="collapse" class="collapsed" href="#faq3" aria-expanded="false" aria-controls="faq3">
        Can I submit work that was already accepted at another conference? <i class="fa-solid fa-chevron-up"></i>
        </a>
        <div id="faq3" class="collapse" data-parent=".faq-list">
        <p>
            No. Following NeurIPS 2025 workshop guidelines, we only accept work that has not been previously published
            (see the <a href="https://constrainedml.github.io/submissions/">Call for Contributions</a> for details).
        </p>
        <p>
            We encourage submissions of work in progress, early-stage ideas, or research not yet published elsewhere.
            The goal is to foster discussion and feedback on developing work.
        </p>
        </div>
    </li>

    <li data-aos="fade-up" data-aos-delay="400">
        <a data-toggle="collapse" class="collapsed" href="#faq4" aria-expanded="false" aria-controls="faq4">
        Does the workshop provide financial aid? <i class="fa-solid fa-chevron-up"></i>
        </a>
        <div id="faq4" class="collapse" data-parent=".faq-list">
        <p>
            We are unable to provide financial support for travel or accommodation. If you require assistance to attend,
            please see the
            <a href="https://neurips.cc/Conferences/2025/FinancialAssistance" target="_blank" rel="noopener noreferrer">
            NeurIPS financial assistance
            </a>
            page.
        </p>
        </div>
    </li>
    </ul>

    <h2 class="post-title">Questions?</h2>
    Contact us at
    <a href="mailto:constrainedml@gmail.com" target="_blank">constrainedml@gmail.com</a> or <a href="https://twitter.com/constrained_ml">@constrained_ml</a>.

  </article>

</div>